body {
    background-color: green;
}

.bg-box {

    min-height: 2400px;
    background-image:
        url(https://img.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg),
        url(https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/%D0%81%D0%B6%D0%B8%D0%BA.png/revision/latest?cb=20180209130328&path-prefix=ru),
        url(./img/green-png-44873.png),
        url(./img/lamp-png-34914.png),
        url(./img/pon.png);


    background-position: 50% 50%, left top, left bottom, right top, right bottom;
    background-size: 1500px, 100px, 1000px, 200px, 100px;
    background-repeat: no-repeat, repeat-y, repeat-x, repeat-x, repeat-y;
}